header{
    margin-top: 60px;   
    max-width: 1000px; 
    margin: auto;
}

header section{
    display: block;
}

section{
    padding: 1rem;
}

.section-title{
    font-size: 1.5rem;     
    margin: 0 0 1rem 0;
    padding: 1rem 1rem 0 0;    
    width: 100%;
    border-bottom: 2px solid var(--apple-green);
    line-height: 1.1rem;
    color: #DDD;
    letter-spacing: 0.2rem;
}


section .release-one{    
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    
}
section .release-one video{    
    width: 100%;
    border:1px black solid;     
    box-shadow: 0px 0px 100px 0 rgba(255,255,255,0.25);
    animation: tv-glow;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}


@keyframes tv-glow {
    0% {
        box-shadow: 0px 0px 20px 0 rgba(255,255,255,0.15);
    }
  
    10% {
        box-shadow: 0px 0px 100px 0 rgba(255,255,255,0.04);
    }

    20% {
        box-shadow: 0px 0px 20px 0 rgba(255,255,255,0.20);
    }

    30% {
        box-shadow: 0px 0px 200px 0 rgba(255,255,255,0.10);
    }

    40% {
        box-shadow: 0px 0px 300px 0 rgba(255,255,255,0.25);
    }

    50% {
        box-shadow: 0px 0px 75px 0 rgba(255,255,255,0.05);
    }

    60% {
        box-shadow: 0px 0px 50px 0 rgba(255,255,255,0.05);
    }

    70% {
        box-shadow: 0px 0px 20px 0 rgba(255,255,255,0.10);
    }

    80%{
        box-shadow: 0px 0px 70px 0 rgba(255,255,255,0.12);
    }

    90%{
        box-shadow: 0px 0px 50px 0 rgba(255,255,255,0.25);
    }

    100%{
        box-shadow: 0px 0px 20px 0 rgba(255,255,255,0.1);
    }
  }


.dot{
    font-size: 0.8rem;
    border: 2px solid var(--apple-green);   
    background-color: rgba(134, 188, 37, 0.8); 
    height: 0.5rem;
    padding: 0.5rem;
    line-height: 0rem;
    width: auto;
    border-radius: 5px;
    position: absolute;
    bottom:1rem;
    top:1rem;
    right: 1rem;
    z-index: 999;    
}

.dot2{
    font-size: 0.8rem;
    border: 2px solid var(--apple-green);   
    background-color: rgba(134, 188, 37, 0.8); 
    height: 0.5rem;
    padding: 0.5rem;
    line-height: 0rem;
    width: auto;
    border-radius: 5px;
    position: absolute;    
    top:3rem;
    right: 1rem;
    z-index: 999;  
}

.dot3{
    font-size: 0.8rem;
    border: 2px solid var(--apple-green);   
    background-color: rgba(134, 188, 37, 0.8); 
    height: 0.5rem;
    padding: 0.5rem;
    line-height: 0rem;
    width: auto;
    border-radius: 5px;
    position: absolute;    
    top:5rem;
    right: 1rem;
    z-index: 999;     
}
.arrow .left{
    transform: rotate(180deg);
}

section .release-one .overlay{
    background-color: rgba(255,255,255,0.8); 
    padding: 1rem;   
}

.release-two{
    display: none;
}

.release-three{
    display: none;
}

@media (max-width:425px){
    section .release-one .overlay{
        font-size: 10pt;
    }
}
@media (min-width:768px){
    section .release-one video:hover ~ .overlay{
        display: block;
    }
    section .release-one .overlay:hover{
        display: block;
    }
    section .release-one .overlay{
        background-color: rgba(255,255,255,0.8);    
        height: auto;
        position: absolute;
        bottom:0;
        width: 100%;
        padding: 1rem;
        display: none;        
        z-index: 999;         
    }
}
section .release-one .overlay .release-title{
    margin:0;
}