/*Background Video*/
/*Fixed with media query to avoid resizing issues*/
/*When in mobile: fit to height*/
#bg-video{
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100vw;    
    min-height: 100vh; 
    z-index: -999;
}

#overlay{
    background-color: rgba(255,255,255,0.3);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}

.main{        
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem; 
}

.login{
    min-width: 300px;
    width: 600px;
    margin: auto;
}

.logo-container{    
    border-top-right-radius: var(--login-border-radius);
    border-top-left-radius: var(--login-border-radius);
    padding: 2rem 2rem 0 2rem;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
}
.row-logo{
    display: none;
    width: 75%;    
}

/* Material Login */
.form-container{    
    border: 1px solid;
    border-color: rgba(255,255,255,0);
    background-color: rgba(255,255,255,0.7); 
    border-bottom-right-radius: var(--login-border-radius);
    border-bottom-left-radius: var(--login-border-radius);   
}

.form-container .form-element{
    position: relative;
    margin: 2em 0;
}

.form-container .form-element input {
  position: relative;
  background-color: rgba(255,255,255,0.6);
  height: 5rem;
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: solid 2px var(--apple-green);
  font-size: 20px; /* same for label */
}

.form-container .form-element input:focus {
    outline: none; 
}

.form-container .form-element label          {
    position:absolute;
    top:1rem;
    left:1rem;
    color: var(--slate-gray); 
    pointer-events:none;
    transition:0.25s ease all;
    
    font-size: 18px; /* same for input */
}

.form-container .form-element input:focus ~ label,
.form-container .form-element input:valid ~ label {
    font-size: small;
    top: 0.5em;
    color: var(--apple-green);
}

.form-container .form-element input:invalid ~ label
 {
     box-shadow: none;
}

.form-container .form-element input:focus:invalid
{
    border-bottom: solid 2px var(--rusty-red);
}

.form-container .login-button-container{    
    padding: 1.5rem;
    text-align: center;
}

.form-container .login-button{
    border: 4px solid var(--apple-green);  
    border-radius: 30px;   
    background-color: var(--apple-green); 
    color: black;   
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;    
    margin: auto;   
}

.form-container .login-button:hover{    
    background-image: linear-gradient(var(--apple-green), rgb(222, 255, 161));
    background-color: none;
}

/*Responsive links wrap with margin*/
.form-container .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 1.5rem;
}

.form-container .links div{
    margin: 1rem;
}

.form-container .links a{
    font-weight: bold;
}

@media (min-width: 768px) {

    .main .row-logo{        
        display: inline-block;
        
    }
    .main .column-logo{        
        display: none;
    }
    
    .form-container .links a{        
        font-size: 1.2rem;
    }
}

/*Responsive BG video */
@media (min-aspect-ratio: 16/9) {
    #bg-video{
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #bg-video{
        width:auto;
        height: 100%;
    }
}
