
main section .items-container{
    display: flex;
    justify-content: flex-start;  
    flex-wrap: nowrap;  
    overflow-y: scroll;
    width: 100%;
    border:1px solid orange;
}


main section article{
    outline: 1px solid black;
    width: 100px;
    height: 150px;
    margin-right: 2rem;   
    margin-bottom: 2rem; 
}


@media (min-width:768px){
    main section .items-container{        
        flex-wrap: wrap;
        flex-basis: 21%;
        overflow-y: inherit;       
        max-height: 400px;
    }

    main article{
        border: 1px solid red;
        width: 200px;
        height: 300px;
    }
}