main{
    margin: auto;
    padding: 2rem;
}
main section .items-container{
    display: flex;
    justify-content: flex-start;  
    flex-wrap: nowrap;  
    overflow-y: hidden;
    width: 100%;    
}

main section article{    
    width: 100px;
    height: 150px;
    margin-right: 2rem;   
    margin-bottom: 0.3rem;     
}


@media (min-width:768px){
    main section .items-container{        
        flex-wrap: wrap;
        justify-content: space-between;
        overflow-y: auto;       
        max-height: 400px;
    }

    main section article{        
        margin-bottom: 2rem;
        width: 200px;
        height: 300px;
    }

    .movies-section{
        x
    }
}