main section .items-container{
    display: flex;
    justify-content: flex-start;  
    flex-wrap: nowrap;  
    overflow-y: hidden;
    width: 100%;    
}

main section article{    
    width: 100px;
    height: 150px;
    margin-right: 1rem;   
    margin-bottom: 0.3rem;  
    position: relative;   
}

.icons-ribbon{    
    position: absolute;
    top:0.1rem;
    right: 0.1rem;
    z-index: 999;
}
.icon-ribbon{
    box-sizing: unset;
    border: 1px solid rgba(0,0,0,0.5);
    height: 15px;
    width: 15px;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0.7);
}
.fav-icon img{
    height: 15px;
    width: 15px;
}


@media (min-width:768px){
    main{
        margin: auto;
        padding: 2rem;
    }

    main section .items-container{        
        flex-wrap: wrap;
        justify-content: space-between;
        overflow-y: auto;       
        max-height: 400px;
    }

    main section article{        
        margin-bottom: 1rem;
        width: 200px;
        height: 300px;
    }

    
    .icons-ribbon{    
        position: absolute;
        top:0.5rem;
        right: 0.5rem;
        z-index: 999;
    }

    .icon-ribbon{
        height: 30px;
        width: 30px;
    }

    .fav-icon img{
        height: 30px;
        width: 30px;
    }
    

}