
#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;    
    background-color: white;
    width: 100vw;
    min-width: 300px;      
    height: var(--navbar-height);
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
    
}

#navbar .logo-large{
    display: none;
    margin-left: 1rem;
}

#navbar .logo-mobile{    
    margin-left: 1rem;
}

.navbar-list{
    list-style: none;
    padding: 0;
    margin:0;
    background-color: rgba(73, 73, 73);         
    display: none; 
    flex-direction: column;    
    justify-content: space-evenly;
    position: absolute;  
    top:60px;     
    width: 100vw;    
}

#navbar .navbar-list > li {
    display: block;   
    border-top: 1px solid ivory;
    border-bottom: 1px solid ivory;
    background-color: #222;    
    text-decoration: none;
 
}
#navbar .navbar-list li > a {           
    display: block;          
    text-align: center;
    width: 100vw;
    align-content: center;
    text-decoration: none;
    color: white;   
    line-height: 4rem;        
    font-size: 2rem;
}

#navbar .search-box{            
    flex-grow: 1;    
    margin: 1rem;
}

#navbar .search-box .search-input{    
    width: 100%; 
    height: 2rem;
    font-size: 1.3rem;
    padding: 0 0.5rem;
    border: 1px solid var(--apple-green);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 28%, rgba(219,219,219,1) 100%);
    border-radius: 0.5rem; 
    background-image: url('../imgs/searchicon.png');
    background-position: 10px 5px;
    background-repeat: no-repeat;    
    padding: 12px 20px 12px 40px;
    
}


/*Burger menu*/
.flex-burger{
    width: 36px;
    height: 40px;
    margin-right: 1rem;
    
}
#burger-checkbox{
    width: 36px;
    height: 40px;
    position: absolute;
    top:100px;
    left: 100px;
    display: none;
}

#navbar .burger-label { 
    width: 36px;
    height: 60px;
    position: absolute;
    top:0;    
}

.burger-label:before {
    content: '';    
    width: 36px;
    position: absolute;    
    background-color: black;    
    top:30px;
    margin-top:-3px;
    height: 4px;    
    box-shadow: 0 10px 0 0 black,                
                0 -10px 0 0 black;    
  }

#burger-checkbox:checked ~ .navbar-list {    
    display: flex;
    position: absolute;
    top:60px;
    left:0;
    width: 100vw;
    height: calc(100vh - 60px); 
    flex-flow: column nowrap;    
    justify-content: flex-start;    
    animation: slide-down-menu 0.3s ease-in-out;    
}

@keyframes slide-down-menu {
    from {
        top:-100vh;
    }
    to {
        top:60px;
    }
}

@media (min-width:768px){
    .navbar-list{
        top:0;       
        display: flex;
        flex-flow: row nowrap;
        align-content: stretch;
        flex-grow: 1;
        position: relative;
        background-color: #fff;
        width: auto;        
        height: 60px;
        padding-right: 1rem;        
    }

    #navbar .navbar-list > li {
        display: block;
        background-color: #FFF;        
        border: 0px;  
        width: 100%;
        height: 60px;
        min-width: 90px;
     
    }
    #navbar .navbar-list li > a { 
        display: block;
        line-height: 60px;
        color:#000;  
        font-size: 1rem;      
        text-align: center;
        width:100%;        
        text-decoration: none;        
        
    }
    #navbar .navbar-list li > a:hover { 
        background-color: var(--apple-green);        
    }
    .flex-burger{
        display: none;
    }
    #navbar .burger-label { 
        display: none;    
    }

}


/*Logo responsive. Small when in mobile*/
@media (min-width:425px){
    #navbar .logo-large{
        display: block;
    }
    #navbar .logo-mobile{
        display: none;
    }
}