*, *::after, *::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Signika, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Signika;
    src: url('../fonts/Signika-Regular.ttf');
}

:root{
    --gunmetal: rgba(52, 58, 64, 1);
    --slate-gray: rgba(108, 117, 125, 1);
    --light-gray: rgb(241, 240, 240);    
    --apple-green: rgba(134, 188, 37, 1);
    --azure: rgba(0, 123, 255, 1);
    --rusty-red: rgba(220, 53, 69, 1);
    --heat-wave: rgba(253, 126, 20, 1);
    --mikado-yellow: rgba(255, 193, 7, 1);

    --login-border-radius: 50px;
    --navbar-height: 60px;
}

body {
    margin: 0;
    padding: 0;    
    background-color: var(--light-gray);   
    min-width: 300px; 
    overflow-x: hidden;
}

a {
    color: var(--azure);
}

a:visited {
    color: rgb(71, 158, 250);
}


